body {
    text-align: center;
}

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #181a28;
    box-shadow: rgba(218, 27, 27, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    align: center;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid rgb(213, 12, 12) 0.5px;
    color: rgb(200, 7, 7);
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

.button-clear {
    background-color: #fa0165;
}

input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #49851b;
    color: rgb(245, 249, 239);
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
